@use "variables" as *;
@use "mixins" as *;

.detail-page {
  background-color: $bg;
  min-height: 100vh;
  padding: 120px 40px 60px;

  .detail-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
  }

  .detail-info {
    flex: 1.2;
    background: white;
    border-radius: 12px;
    box-shadow: $shadow;
    padding: 40px;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 15px;
      color: $primary-dark;
    }
  }

  .reservation-form {
    flex: 0.8;
    background: white;
    border-radius: 12px;
    box-shadow: $shadow;
    padding: 35px;

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
          font-weight: 500;
          color: $primary-dark;
        }

        input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 6px;
        }
      }

      .btn-add-cart {
        @include buttonBase($primary, white);
      }
    }
  }
}
